.bsp
ts
*.log
target
.idea
.metals
*.iml
out
.idea_modules
.classpath
.project
.settings
.DS_Store
.vscode
.~*
*~
*.orig
.bloop
.bloop/
node_modules/
.gradle/
build/
local.properties
.expo/
.cache
dist
